.dashboard__active
  background: #00467a;
  padding: 30px 30px 40px 30px

.dashboard__header
  display: flex
  align-items: center

.dashboard__activeTitle
  color: #fff
  flex: 1 1 auto

.dashboard__logo
  flex: 0 0 100px
  max-width: 100px

.dashboard__history
  padding: 30px


.footer
  border-top: 1px solid rgba(#000, 0.1)
  padding: 15px

.footer__copy
  margin: 0
  
  a
    text-decoration: none
