<section class="dashboard">
  <div class="dashboard__active">
    <div class="container">
      <div class="dashboard__header">
        <h2 class="dashboard__activeTitle">Активные инциденты</h2>
        <div class="dashboard__menu menu">
          <a href="#" (click)="openModal($event, '#riskModal')" class="menu__item">Добавить риск</a>
          <a href="#" (click)="openModal($event, '#eventModal')" class="menu__item">Добавить мероприятие</a>
          <a href="#" (click)="openModal($event, '#incidentModal')" class="menu__item">Добавить инцидент</a>
        </div>
        <a class="dashboard__logo" href="https://gazprom-neft.ru/" target="_blank"><img src="../../../assets/gpn_logo.jpg" alt=""></a>
      </div>
      <div class="dashboard__incidents">
        <app-incident *ngFor="let data of activeIncidents" [data]="data"></app-incident>
      </div>
    </div>
  </div>
  <div class="dashboard__history">
    <div class="container">
      <h2>История инцидентов</h2>
      <div class="dashboard__incidents">
        <app-incident *ngFor="let data of otherIncidents" [data]="data"></app-incident>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <p class="footer__copy">© <a href="#">#MB2D</a> 2021 | Все права принадлежат <a href="https://gazprom-neft.ru/" target="_blank">ПАО "Газпром нефть"</a></p>
  </div>
</section>

<div id="riskModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <form [formGroup]="riskForm" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавление риска</h5>
        <span type="button" (click)="closeModal($event, '#riskModal')">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Название:</label>
          <input type="text" id="name" class="form-control" placeholder="Какой-то риск..." formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="bs">Бизнес услуга:</label>
          <select name="bs" id="bs" class="form-control" formControlName="bs" required (change)="filterOperationServices(riskForm.value.bs)">
            <option *ngFor="let bs of businessServices" [value]="bs.id">{{bs.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="os">Операционная услуга:</label>
          <select name="os" id="os" class="form-control" formControlName="operationId" required>
            <option *ngFor="let os of operationServicesFiltered" [value]="os.id">{{os.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="damage">Размер ущерба:</label>
          <select name="damage" id="damage" class="form-control" formControlName="damage" required>
            <option *ngFor="let item of [1, 2, 3, 4, 5]" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="prob">Вероятность:</label>
          <select name="prob" id="prob" class="form-control" formControlName="prob" required>
            <option *ngFor="let item of [1, 2, 3, 4, 5]" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="currentStatus">Текущий статус:</label>
          <select name="currentStatus" id="currentStatus" class="form-control" formControlName="currentStatus" required>
            <option value="0">Отсутствует</option>
            <option value="1">Управляемый</option>
            <option value="2">Неуправляемый</option>
          </select>
        </div>
        <div class="form-group">
          <label for="wantedStatus">Желаемый статус:</label>
          <select name="wantedStatus" id="wantedStatus" class="form-control" formControlName="wantedStatus" required>
            <option value="0">Отсутствует</option>
            <option value="1">Управляемый</option>
            <option value="2">Неуправляемый</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal($event, '#riskModal')">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addRisk()">Сохранить изменения</button>
      </div>
    </form>
  </div>
</div>

<div id="eventModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <form [formGroup]="eventForm" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавление мероприятия</h5>
        <span type="button" (click)="closeModal($event, '#eventModal')">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Название:</label>
          <input type="text" id="name" class="form-control" placeholder="Какое-то мероприятие..." formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="bs">Бизнес услуга:</label>
          <select name="bs" id="bs" class="form-control" formControlName="bs" required (change)="filterOperationServices(eventForm.value.bs)">
            <option *ngFor="let bs of businessServices" [value]="bs.id">{{bs.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="os">Операционная услуга:</label>
          <select name="os" id="os" class="form-control" formControlName="operationId" required (change)="filterRisks(eventForm.value.operationId)">
            <option *ngFor="let os of operationServicesFiltered" [value]="os.id">{{os.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="riskId">Риск:</label>
          <select name="riskId" id="riskId" class="form-control" formControlName="riskId" required>
            <option *ngFor="let risk of risksFiltered" [value]="risk.id">{{risk.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="durationInSeconds">Длительность:</label>
          <input type="number" id="durationInSeconds" class="form-control" placeholder="2000" formControlName="durationInSeconds" required>
        </div>
        <div class="form-group">
          <label for="value">Значимость:</label>
          <input type="number" id="value" class="form-control" placeholder="10" formControlName="value" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal($event, '#eventModal')">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addEvent()">Сохранить изменения</button>
      </div>
    </form>
  </div>
</div>

<div id="incidentModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <form [formGroup]="incidentForm" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавление инцидента</h5>
        <span type="button" (click)="closeModal($event, '#incidentModal')">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="incidentName">Название:</label>
          <input type="text" id="incidentName" class="form-control" placeholder="Какое-то мероприятие..." formControlName="incidentName" required>
        </div>
        <div class="form-group">
          <label for="bs">Бизнес услуга:</label>
          <select name="bs" id="bs" class="form-control" formControlName="bs" required (change)="filterOperationServices(incidentForm.value.bs)">
            <option *ngFor="let bs of businessServices" [value]="bs.id">{{bs.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="os">Операционная услуга:</label>
          <select name="os" id="os" class="form-control" formControlName="operationId" required (change)="filterRisks(incidentForm.value.operationId)">
            <option *ngFor="let os of operationServicesFiltered" [value]="os.id">{{os.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="riskId">Риск:</label>
          <select name="riskId" id="riskId" class="form-control" formControlName="riskId" required>
            <option *ngFor="let risk of risksFiltered" [value]="risk.id">{{risk.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal($event, '#incidentModal')">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addIncident()">Сохранить изменения</button>
      </div>
    </form>
  </div>
</div>
